*.DS_Store
*.egg-info
*.log
*.lprof
*.py[cod]
*/*.pyc
*.swp
*.conf
*.xml
.svn
.tox
.idea/*
.idea
clean.sh
output
output/*
*.xml
.idea/workspace.xml
data/Fofa/*.txt
data/Quake/*.txt
data/Hunter/*.txt
data/Zoomeye/*.txt
data/*/*
.run/*
.vscode/
*__pycache__*
*.idea/*

toolkit.conf