[hunter]
api-key:XXXX

[quake]
X-QuakeToken:XXXX

[zoomeye]
email:x@x.com
password:xxx

[shodan]
api_key:x

[google]
proxy:
developer_key:
search_engine:

[fofa]
email:x@x.com
api_key:x

[bing]
api_key:

[cloudeye]
# your API-key in "http://cloudeye.me/?a=list"



